################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/torgash/.vs/torgash
/torgash/torgash/bin/Debug/net8.0
/torgash/torgash/obj
