@page
@model torgash.Pages.category.hats1.HatsModel
@{
    ViewData["Title"] = "Hats";
}
<div>
    <h1 class="display-4">Welcome to torgash.ua</h1>
    <p>In this store u can find many cool clothing and accessories!</p>

</div>